<div class="reglage-container">
    <div class="menu-bar">
        <div class="list-menu-bar">
            <a href="">
                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="ListCheck2TitleID" style="fill: rgb(102, 102, 102); stroke: rgb(102, 102, 102); stroke-width: 0;"><title id="ListCheck2TitleID">ListCheck2 Icon</title><path fill="none" d="M0 0h24v24H0z"></path><path d="M11 4h10v2H11V4zm0 4h6v2h-6V8zm0 6h10v2H11v-2zm0 4h6v2h-6v-2zM3 4h6v6H3V4zm2 2v2h2V6H5zm-2 8h6v6H3v-6zm2 2v2h2v-2H5z"></path></svg>
                <span>Mes annonces</span>
            </a>
            <a href="">
                <svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="CartFillTitleID" style="fill: rgb(102, 102, 102); stroke: rgb(102, 102, 102); stroke-width: 0;"><title id="CartFillTitleID">CartFill Icon</title><path d="M19.743 6H5.5L7 16h10.897a1 1 0 00.974-.775l1.846-8A1 1 0 0019.743 6z"></path><path d="M3 2a1 1 0 000 2V2zm1.751 1.818l.983-.181-.983.181zM7 16l-.983.181A1 1 0 007 17v-1zM5.5 6V5a1 1 0 00-.989 1.148L5.5 6zm15.217 1.225l.975.225-.975-.225zm-1.846 8l.975.225-.975-.225zM18 20h-2a2 2 0 002 2v-2zm0 0v2a2 2 0 002-2h-2zm0 0h2a2 2 0 00-2-2v2zm0-2a2 2 0 00-2 2h2v-2zM8 20H6a2 2 0 002 2v-2zm0 0v2a2 2 0 002-2H8zm0 0h2a2 2 0 00-2-2v2zm0-2a2 2 0 00-2 2h2v-2zM3 4h.768V2H3v2zm.768 0l2.249 12.181 1.966-.363-2.249-12.18L3.768 4zm0 0l1.966-.363A2 2 0 003.768 2v2zM5.5 7h14.243V5H5.5v2zm14.243 0l-1.846 8 1.949.45 1.846-8-1.95-.45zm-1.846 8H7v2h10.897v-2zm0 0v2a2 2 0 001.949-1.55l-1.95-.45zm1.846-8l1.949.45A2 2 0 0019.742 5v2zM4.51 6.148l1.5 10 1.978-.296-1.5-10-1.978.296z"></path></svg>
                <span>Mes commandes</span>
            </a>
            <a href="">
                <svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="HeartOutlineTitleID" style="fill: rgb(102, 102, 102); stroke: rgb(102, 102, 102); stroke-width: 0;"><title id="HeartOutlineTitleID">HeartOutline Icon</title><path fill-rule="evenodd" d="M2.405 12.33c-1.231-3.824.407-7.833 4.078-9.015a6.562 6.562 0 015.25.541l.263.158.268-.159a6.571 6.571 0 014.982-.619l.266.08c3.673 1.182 5.317 5.192 4.082 9.03a12.42 12.42 0 01-2.977 4.736 34.695 34.695 0 01-5.995 4.665l-.23.143a.732.732 0 01-.762.006l-.245-.147a34.717 34.717 0 01-6.005-4.673 12.427 12.427 0 01-2.975-4.747zm9.194-6.363l-.185-.132a4.784 4.784 0 00-4.162-.606c-2.664.856-3.872 3.808-2.94 6.696a10.232 10.232 0 002.448 3.899A31.118 31.118 0 0012.135 20L12 19.916l.438-.275a31.11 31.11 0 004.304-3.342l.495-.47a10.226 10.226 0 002.45-3.889c.934-2.9-.279-5.854-2.944-6.71a4.793 4.793 0 00-4.336.728.686.686 0 01-.81.009z" clip-rule="evenodd"></path></svg>
                <span>Mes favoris</span>
            </a>
            <a href="">
                <svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="Settings3LineTitleID" style="fill: rgb(102, 102, 102); stroke: rgb(46, 107, 255); stroke-width: 0;"><title id="Settings3LineTitleID">Settings3Line Icon</title><path fill="none" d="M0 0h24v24H0z"></path><path d="M3.34 17a10.018 10.018 0 01-.978-2.326 3 3 0 00.002-5.347A9.99 9.99 0 014.865 4.99a3 3 0 004.631-2.674 9.99 9.99 0 015.007.002 3 3 0 004.632 2.672A9.99 9.99 0 0120.66 7c.433.749.757 1.53.978 2.326a3 3 0 00-.002 5.347 9.99 9.99 0 01-2.501 4.337 3 3 0 00-4.631 2.674 9.99 9.99 0 01-5.007-.002 3 3 0 00-4.632-2.672A10.018 10.018 0 013.34 17zm5.66.196a4.993 4.993 0 012.25 2.77c.499.047 1 .048 1.499.001A4.993 4.993 0 0115 17.197a4.993 4.993 0 013.525-.565c.29-.408.54-.843.748-1.298A4.993 4.993 0 0118 12c0-1.26.47-2.437 1.273-3.334a8.126 8.126 0 00-.75-1.298A4.993 4.993 0 0115 6.804a4.993 4.993 0 01-2.25-2.77c-.499-.047-1-.048-1.499-.001A4.993 4.993 0 019 6.803a4.993 4.993 0 01-3.525.565 7.99 7.99 0 00-.748 1.298A4.993 4.993 0 016 12a4.99 4.99 0 01-1.273 3.334 8.126 8.126 0 00.75 1.298A4.993 4.993 0 019 17.196zM12 15a3 3 0 110-6 3 3 0 010 6zm0-2a1 1 0 100-2 1 1 0 000 2z"></path></svg>
                <span>Réglages</span>
            </a>
        </div>
    </div>
    <div class="container-reglage">
        <div id="options">
            <button id="btn-info" >
                <span>Modifier vos informations</span>
                <svg id="dropdown-info" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="ChevronDownTitleID" fill= "rgb(102, 102, 102)"><title id="ChevronDownTitleID">ChevronDown Icon</title><path d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6-6-6 1.41-1.42z"></path></svg>
            </button>
            <button id="btn-mdp" >
                <span>Modifier le mot de passe</span>
                <svg id="dropdown-mdp" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="ChevronDownTitleID" fill= "rgb(102, 102, 102)"><title id="ChevronDownTitleID">ChevronDown Icon</title><path d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6-6-6 1.41-1.42z"></path></svg>
            </button>
            <button id="btn-notif" >
                <span>Paramètres de notification</span>
                <svg id="dropdown-notif" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="ChevronDownTitleID" fill= "rgb(102, 102, 102)"><title id="ChevronDownTitleID">ChevronDown Icon</title><path d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6-6-6 1.41-1.42z"></path></svg>
            </button>
        </div>
        <div class="edit-form">
            <%= form_for(@utilisateur,  url: editInfo_path, :html => {class: "form-horizontal", role: "form", method: :patch, id: "info-form"} ) do |f| %>
                <div class="form-group">
                    <label >Nom</label>
                    <div class="email-input">
                        <%= image_tag('svg/user-icon.svg') %>
                        <%= f.text_field :nom , class: "form-control", placeholder: "Nom" %>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputTel">Téléphone</label>
                    <div class="email-input">
                        <%= image_tag('svg/tel.svg') %>
                        <%= f.text_field :tel , class: "form-control" , placeholder: "06XXXXXXXX" %>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <input type="checkbox" id="telCheck" >
                    <small class="mt-1 ml-2" >
                        Afficher mon numéro de téléphone
                    </small>
                </div>
                <div class="form-group">
                    <label for="inputEmail">E-mail</label>
                    <div id="readonly-input" class="email-input">
                        <%= image_tag('svg/email.svg') %>
                        <%= f.email_field :email, class: "form-control", placeholder: "E-mail", readonly: true, disabled: true %>
                    </div>
                </div>
                <small class="text-secondary ">
                    Pour des raisons de confidentialité, l’adresse mail ne peut pas être modifiée, pour plus 
                    d’information veuillez contacter notre service client au Tél: 0520-42-86-86 / <a href="">Live chat ICI</a>
                </small>
                <div class="form-group mt-3">
                    <label>Ville</label>
                    <div>
                    <%= f.select :ville_id , options_for_select(@villes.collect{|v| [v.nom_ville, v.id]}) ,class: "form-control" %>
                    </div>
                </div>
                <div class="form-group mt-4 d-flex">
                    <%= f.submit "sauvegarder", class: "sauvegarder-btn btn btn-primary text-uppercase" %>
                </div>
            <% end %> 

            <%= form_for(:utilisateur, url: editPassword_path,:html => {class: " form-horizontal", id: "mdp-form", style: "display:none", role: "form" , method: :patch} ) do |f| %>
                <div class="form-group">
                    <label for="inputPassword">Mot de passe actuel</label>
                    <div class="">
                        <%= f.password_field :current_password , class: "form-control" , placeholder: "Mot de passe actuel" %>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Nouveau mot de passe</label>
                    <div class="">
                        <%= f.password_field :new_password , class: "form-control" , placeholder: "Nouveau mot de passe" %>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Confirmer le mot de passe</label>
                    <div class="">
                        <%= f.password_field :new_password_confirmation , class: "form-control" , placeholder: "Confirmer le mot de passe" %>
                    </div>
                </div>
                <div class="form-group mt-4 d-flex">
                    <%= f.submit "sauvegarder" , class: "sauvegarder-btn btn btn-primary text-uppercase" %>
                </div>
            <% end %> 

            <div id="notif-form" style="display:none">
                <div class="email-notif">
                    <p>Parametrage de notification par email</p>
                    <span>
                        Les notifications par Email vous permettent d'être tenu informé, 
                        vous pouvez activer ou désactiver le type d'email que vous voulez recevoir
                    </span>
                </div>
                <div class="d-flex mt-5">
                    <div>
                        <label class="toggle-control">
                            <input type="checkbox" checked="checked">
                            <span class="control"></span>
                        </label>
                    </div>
                    <div class="d-flex flex-column">
                        <span>Emails des Annonces</span>
                        <small class="text-secondary">Email relatif a votre compte comme la recuperation de mot de passe …</small>
                    </div>
                </div> 
                <div class="d-flex mt-3">
                    <div>
                        <label class="toggle-control">
                            <input type="checkbox" checked="checked">
                            <span class="control"></span>
                        </label>
                    </div>
                    <div class="d-flex flex-column">
                        <span>Emails des Annonces</span>
                        <small class="text-secondary">Email envoyé a chaque changement de status de vos annonces.</small>
                    </div>
                </div> 
                <div class="d-flex mt-3">
                    <div>
                        <label class="toggle-control">
                            <input type="checkbox" checked="checked">
                            <span class="control"></span>
                        </label>
                    </div>
                    <div class="d-flex flex-column">
                        <span>Emails des Packs</span>
                        <small class="text-secondary">Email envoyé à l'application de chaque pack.</small>
                    </div>
                </div> 
                <div class="d-flex mt-3">
                    <div>
                        <label class="toggle-control">
                            <input type="checkbox" checked="checked">
                            <span class="control"></span>
                        </label>
                    </div>
                    <div class="d-flex flex-column">
                        <span>Emails des Payments</span>
                        <small class="text-secondary">Email envoyé a chaque paiement effectué.</small>
                    </div>
                </div> 
                <div class="d-flex mt-3">
                    <div>
                        <label class="toggle-control">
                            <input type="checkbox" checked="checked">
                            <span class="control"></span>
                        </label>
                    </div>
                    <div class="d-flex flex-column">
                        <span>Newsletters</span>
                        <small class="text-secondary">Email relatif aux offres et promotions et aussi aux actualités d'Avito</small>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>


<script>

    document.addEventListener("DOMContentLoaded", function() {
    var button1 = document.getElementById("btn-info");
    var button2 = document.getElementById("btn-mdp");
    var button3 = document.getElementById("btn-notif");

    var form1 = document.getElementById("info-form");
    var form2 = document.getElementById("mdp-form");
    var form3 = document.getElementById("notif-form");

    var icon1 = document.getElementById("dropdown-info");
    var icon2 = document.getElementById("dropdown-mdp");
    var icon3 = document.getElementById("dropdown-notif");

    button1.addEventListener("click", function() {
        console.log("Button 1 clicked!");
      form1.style.display = "block";
      form2.style.display = "none";
      form3.style.display = "none";

      button1.style.color = "rgb(46, 107, 255)";
      icon1.style.fill = "rgb(46, 107, 255)";

      button2.style.color = "rgb(102, 102, 102)";
      icon2.style.fill = "rgb(102, 102, 102)";
      
      button3.style.color = "rgb(102, 102, 102)";
      icon3.style.fill = "rgb(102, 102, 102)";
    });

    button2.addEventListener("click", function() {
        console.log("Button 2 clicked!");
      form1.style.display = "none";
      form2.style.display = "block";
      form3.style.display = "none";

      button2.style.color = "rgb(46, 107, 255)";
      icon2.style.fill = "rgb(46, 107, 255)";

      button1.style.color = "rgb(102, 102, 102)";
      icon1.style.fill = "rgb(102, 102, 102)";
      
      button3.style.color = "rgb(102, 102, 102)";
      icon3.style.fill = "rgb(102, 102, 102)";

    });

    button3.addEventListener("click", function() {
        console.log("Button 3 clicked!");
      form1.style.display = "none";
      form2.style.display = "none";
      form3.style.display = "block";

      button3.style.color = "rgb(46, 107, 255)";
      icon3.style.fill = "rgb(46, 107, 255)";

      button1.style.color = "rgb(102, 102, 102)";
      icon1.style.fill = "rgb(102, 102, 102)";
      
      button2.style.color = "rgb(102, 102, 102)";
      icon2.style.fill = "rgb(102, 102, 102)";
    });
  });

</script>