<p id="notice"><%= notice %></p>

<h1>Sous Categories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sous_categories.each do |sous_categorie| %>
      <tr>
        <td><%= link_to 'Show', sous_categorie %></td>
        <td><%= link_to 'Edit', edit_sous_categorie_path(sous_categorie) %></td>
        <td><%= link_to 'Destroy', sous_categorie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sous Categorie', new_sous_categorie_path %>
