<footer style="background-color: #f2f2f2;" class="footer">
  <div class="container1">
    <div class="container2">
      <h4 id="aide">Aide et Renseignements</h4>
      <div ><button class="btn btn-default arabic-button" type="button"><span class="button-icon"><%= image_tag "svg/arabic-button.svg" %></span>العربية</button></div>
    </div>
  </div>
  <div class="container1">
    <div class="container2">
      <div class="container3">
        <h4>NEUF</h4>
        <div class="neuf">
          <div><a href="#" ><%= image_tag "svg/auto-neuf.svg" %><p>AUTO NEUF</P><span class="new">NEW</span></a></div>
          <div><a href="#"><%= image_tag "svg/immo-neuf.svg" %><p>IMMO NEUF</P></a></div>
        </div>
        <h4 class="mb-0">Téléchargez l'application gratuitement:</h4>
        <div class="badges">
          <a href="#" class=""><%= image_tag("svg/play-store-badge.svg", class:'downloads iconhover') %></a>
          <a href="#" class=""><%= image_tag("svg/app-store-badge.svg", class:'downloads iconhover') %></a>
        </div>
      </div>
      <div>
        <h5 style="font-size: 17px;">Suivez nous sur:</h5>
        <ul class="icons">
          <li class="icon-list"><a href="#" class="icon-item facebook iconhover"><%= image_tag("svg/facebook.svg") %></a></li>
          <li class="icon-list"><a href="#" class="icon-item twitter iconhover"><%= image_tag("svg/twitter.svg") %></a></li>
          <li class="icon-list"><a href="#" class="icon-item instagram iconhover"><%= image_tag("svg/instagram.svg") %></a></li>
          <li class="icon-list"><a href="#" class="icon-item youtube iconhover"><%= image_tag("svg/youtube.svg") %></a></li>
          <li class="icon-list"><a href="#" class="icon-item linkedin iconhover"><%= image_tag("svg/linkedin.svg") %></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
